{% load static %}

<div class="intro-body">
    <div class="row section-intro">
    <div class="col-twelve  ">
        <h1 class="body-header">Let me Introduce myself</h1>
        <div class="intro-info">
            <p class="lead">As an IT expert and a software developer, I use my knowledge in the fast growing field of Information Communication and Technology and related fields to help others understand the importance of technology in our daily lives to create a better society.</p>
            <img src="{% static 'app/img/avatar.jpg' %}" alt="Ndemo richard">
            <p class="details">As an IT expert and a software developer, I use my knowledge in the fast growing field of Information Communication and Technology and related fields to help others understand the importance of technology in our daily lives to create a better society.</p>
        </div>
    </div>
</div>
    <br>
    <br>
    <div class="row intro-body-content">
        <div class="tech">
        <div class="col-four tab-full">
            <ul class="info-list">
                <li>
                    <strong>Technologies</strong>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-four tab-full tech_one">
            <h3>Day-to-day comfort</h3>
         <ul class="info-list">
             <li>
                 <span>>HTML5 / css3</span>
             </li>
             <li>
                 <span>>Python</span>
             </li>
             <li>
                 <span>>Django</span>
             </li>
             <li>
                 <span>>Version Control(GIT)</span>
             </li>
         </ul>
        </div>
        <div class="col-three tab-full tech_two">
            <h3>Experience with</h3>
         <ul class="info-list">
             <li>
                 <span>>Java</span>
             </li>
             <li>
                 <span>>Javasdcript</span>
             </li>
             <li>
                 <span>>AJAX</span>
             </li>
             <li>
                 <span>>PHP</span>
             </li>
         </ul>
        </div>
    </div>
    <div class="experience">
        <div class="col-four tab-full">
            <ul class="info-list">
                <li>
                    <strong>Work Experience</strong>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-six tab-full">
            <h3>Internship</h3>
         <ul class="info-list">
             <li>
                 <span>Intern</span>
             </li>

         </ul>
        </div>
    </div>
    <div class="education">
        <div class="col-four tab-full">
            <ul class="info-list">
                <li>
                    <strong>Education</strong>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-six tab-full">
            <h4>Bsc. Information Technology</h4>
         <ul class="info-list">
             <li>
                 <span>masinde muliro university of science and technology 2014 - 2018 </span>
             </li>
         </ul>
            <h4>Diploma Information Technology</h4>
         <ul class="info-list">
             <li>
                 <span>masinde muliro university of science and technology 2012 - 2014 </span>
             </li>
         </ul>
            <h4>Packages in computer studies</h4>
         <ul class="info-list">
             <li>
                 <span>Royalnet Training Institute 2012 </span>
             </li>
         </ul>
            <h4>Kenya certificate of secondary education</h4>
         <ul class="info-list">
             <li>
                 <span>St joseph boys high school kitale  2008 - 2011 </span>
             </li>
         </ul>
            <h4>Kenya certificate of primary Education</h4>
         <ul class="info-list">
             <li>
                 <span>St peters mumias boys primary boading school 1999 - 2007 </span>
             </li>
         </ul>
        </div>
    </div>
       </div>
    </div>