amqp==2.5.1
billiard==3.6.1.0
bootstrap4==0.1.0
celery==4.3.0
certifi==2019.9.11
chardet==3.0.4
Django==2.2.5
django-appconf==1.0.3
django-compressor==2.3
django-taggit==1.1.0
django-tinymce==2.8.0
idna==2.8
importlib-metadata==0.22
kombu==4.6.4
more-itertools==7.2.0
Pillow==6.1.0
pytz==2019.2
rcssmin==1.0.6
requests==2.22.0
rjsmin==1.1.0
six==1.12.0
sqlparse==0.3.0
ua-parser==0.8.0
urllib3==1.25.3
user-agents==2.0
vine==1.3.0
zipp==0.6.0
