amqp==5.0.6
asgiref==3.3.4
beautifulsoup4==4.9.3
billiard==3.6.4.0
bootstrap4==0.1.0
celery
certifi==2020.12.5
chardet==4.0.0
click
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
dj-database-url==0.5.0
Django==3.2.4
django-appconf==1.0.4
django-compressor==2.4.1
django-contrib-comments==2.1.0
django-crispy-forms==1.11.2
django-heroku==0.3.1
django-js-asset==1.2.2
django-mptt==0.12.0
django-tagging==0.5.0
django-taggit==1.4.0
django-tinymce==3.3.0
django-xmlrpc==0.1.8
gunicorn==20.1.0
idna==3.1
importlib-metadata==4.3.0
kombu==5.1.0
more-itertools==8.8.0
mots-vides==2015.5.11
mysqlclient==2.0.3
Pillow==8.2.0
prompt-toolkit==3.0.18
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyparsing==2.4.7
python-decouple==3.4
pytz==2021.1
rcssmin==1.0.6
regex==2021.4.4
requests==2.25.1
rjsmin==1.1.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
style==1.1.6
ua-parser==0.10.0
update==0.0.1
urllib3==1.26.5
user-agents==2.2.0
vine==5.0.0
wcwidth==0.2.5
whitenoise==5.2.0
zipp==3.4.1
