 
/** * =================================================================== contact * * ------------------------------------------------------------------- */
 #contact {
     background: #100e17 !important;
     padding-top:50px;
}
 #contact a{
     color: white;
}
 #contact .section-intro h1 {
     color: white;
}
 #contact .section-intro h5 {
     color: #00adef;
}
 #contact .section-intro p {
     color: rgba(255, 255, 255, 0.7);
}
/* contact form */
 .contact-form {
     max-width: 740px;
}
 .contact-form ::-webkit-input-placeholder {
     color: rgba(255, 255, 255, 0.3);
}
 .contact-form :-moz-placeholder {
     color: rgba(255, 255, 255, 0.3);
    /* Firefox 18- */
}
 .contact-form ::-moz-placeholder {
     color: rgba(255, 255, 255, 0.3);
    /* Firefox 19+ */
}
 .contact-form :-ms-input-placeholder {
     color: rgba(255, 255, 255, 0.3);
}
 .contact-form .placeholder {
     color: rgba(255, 255, 255, 0.3) !important;
}
 #contact form {
     margin-top: 0;
     margin-bottom: 3rem;
}
 #contact form .form-field {
     position: relative;
}
 #contact form .form-field:before, #contact form .form-field:after {
     content: "";
     display: table;
}
 #contact form .form-field:after {
     clear: both;
}
 #contact form .form-field label {
     font-family: "poppins-bold", sans-serif;
     font-size: 1.1rem;
     line-height: 2.4rem;
     position: absolute;
     bottom: -1.2rem;
     right: .6rem;
     text-transform: uppercase;
     letter-spacing: .1rem;
     padding: 0 2rem;
     margin: 0;
     color: #FFFFFF;
     background: #00adef;
}
 #contact form .form-field label::after {
     position: absolute;
     left: -5px;
     top: 50%;
     margin-top: -6px;
     border-top: 5px solid transparent;
     border-bottom: 5px solid transparent;
     border-right: 5px solid #00adef;
     content: "";
}
 #contact input[type="text"], #contact input[type="password"], #contact input[type="email"], #contact textarea {
     width: 100%;
     color: rgba(255, 255, 255, 0.7);
     margin-bottom: 0;
     border: none;
     border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
 #contact input[type="text"], #contact input[type="password"], #contact input[type="email"] {
     height: 6.6rem;
     padding: 1.8rem 2rem;
}
 #contact input[type="text"]:focus, #contact input[type="password"]:focus, #contact input[type="email"]:focus {
     border-color: #00adef;
     color: #FFFFFF;
}
 #contact textarea {
     min-height: 20rem;
     padding: 1.8rem 2rem;
}
 #contact textarea:focus {
     border-color: #00adef;
     color: #FFFFFF;
}
 #contact button.submitform {
     font-size: 1.5rem;
     display: block;
     letter-spacing: .2rem;
     height: 6.6rem;
     line-height: 6.6rem;
     padding: 0 3rem;
     margin-top: 4.8rem;
     width: 100%;
     background: #00adef;
     color: #FFFFFF;
}
 #contact button.submitform:hover, #contact button.submitform:focus {
     background: #cc005f;
}
 #message-warning, #message-success {
     display: none;
     background: #0d0d0d;
     border-radius: 3px;
     padding: 3rem;
     margin-bottom: 3.6rem;
     width: 100%;
}
 #message-warning {
     color: #fa0003;
}
 #message-success {
     color: #00adef;
}
 #message-warning i, #message-success i {
     margin-right: 10px;
}
/* form loader */
 #submit-loader {
     display: none;
     position: relative;
     left: 0;
     top: 1.8rem;
     width: 100%;
     text-align: center;
}
 #submit-loader .text-loader {
     display: none;
     font-family: "poppins-bold", sans-serif;
     color: #FFFFFF;
     letter-spacing: .3rem;
     text-transform: uppercase;
}
 .oldie #submit-loader .s-loader {
     display: none;
}
 .oldie #submit-loader .text-loader {
     display: block;
}
 .contact-info {
     margin: 4.8rem auto 0;
     font-family: "poppins-regular", sans-serif;
     font-size: 1.5rem;
     text-align: center;
}
 .contact-info .collapse {
     padding: 0;
}
 .contact-info .icon {
     margin-bottom: 2.1rem;
}
 .contact-info .icon i {
     font-size: 4.2rem;
     color: #FFFFFF;
}
 .contact-info h5 {
     color: #00adef;
}
/** * loader animation - (_layout.scss) * --------------------------------------------------------------- */
 .s-loader {
     margin: 1.2rem auto 3rem;
     width: 70px;
     text-align: center;
     -webkit-transform: translateX(0.45rem);
     -ms-transform: translateX(0.45rem);
     transform: translateX(0.45rem);
}
 .s-loader > div {
     width: 1rem;
     height: 1rem;
     background-color: #FFFFFF;
     border-radius: 100%;
     display: inline-block;
     margin-right: .9rem;
     -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
     animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
 .s-loader .bounce1 {
     -webkit-animation-delay: -0.32s;
     animation-delay: -0.32s;
}
 .s-loader .bounce2 {
     -webkit-animation-delay: -0.16s;
     animation-delay: -0.16s;
}
 @-webkit-keyframes sk-bouncedelay {
     0%, 80%, 100% {
         -webkit-transform: scale(0);
         -ms-transform: scale(0);
         transform: scale(0);
    }
     40% {
         -webkit-transform: scale(1);
         -ms-transform: scale(1);
         transform: scale(1);
    }
}
 @keyframes sk-bouncedelay {
     0%, 80%, 100% {
         -webkit-transform: scale(0);
         -ms-transform: scale(0);
         transform: scale(0);
    }
     40% {
         -webkit-transform: scale(1);
         -ms-transform: scale(1);
         transform: scale(1);
    }
}

