{% extends 'blog_base.html' %}
{% load static %}
{% block title %}{{ block.super }} | Blog {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'app/css/blog.css' %}">
<section id="masthead">
    <div class="lead">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to my awesome Blog </h3>
                    <p class="text-light">I love to share my thoughts with the world.It is a beautiful thing to let the world know what am thinking. &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="cardz">
        <!-- Blog Entries Column -->
            {% for post in post_list %}
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <a href="{{post.slug}}">
                            <img src="{{ post.pic.url }}" alt="{{ post.title }}" height="250">
                        </a>
                    </div>
                         <span class="card-text left">{{ post.author }} | {{ post.created_on|date:"D M Y" }}</span>

                        <div class="card-content">

                             <span class="card-title"><a  href="{{ post.slug }}">{{ post.title }}</a></span>

                            <p class="card-text">{{ post.content|slice:":150" }}</p>
                            <a href="{% url 'post_detail' post.slug  %}" class="card-expand">Read More &rarr;</a>
                        </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
{%endblock%}