{% extends 'blog_base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'app/css/post_detail.css' %}">
<div class="container">
    <br></br><br></br><br></br>
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on|date:"D M Y" }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'blog/include/sidebar.html' %} {% endblock sidebar %}
  </div>
</div>
{% endblock content %}