<!DOCTYPE html>
{% load static %}
{% load compress %}

<!--[if IE 8 ]>
        <html class="no-js oldie ie8" lang="en"> <![endif] -->
<!-- [if IE 9 ]>
        <html class="no-js oldie ie9" lang="en"><![endif] -->
<!--[if (gte IE 9) | !(IE)]><!-->
<html lang="en"> <!--<![endif] -->
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Richard Ndemo{%  endblock %}</title>
    <meta name="robots" content="follow, all" />
    <meta name="description" content="Information Technologist">
     <meta name="keywords" content="{% block meta-keywords %}django,richard ndemo, ndemo richard, onyancha richard, ndemo richard onyancha,onyancha ndemo richard{% endblock meta-keywords %}" />
    <meta name="author" content="ndemorich@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes"/>

    <! --favicon
    ==================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'app/favis/favicon.ico' %}">
    <link rel="apple-touch-icon" size="60x60" href="{% static 'app/favis/apple-icon-60x60.png' %}">
    <link rel="icon" size="192x192" href="{% static 'app/favis/android-icon-192x192.png' %}">
    <link rel="icon" size="32x32" href="{%  static 'app/favis/favicon-32x32.png' %}">
    <meta name="msapplication-TileColor" content="{%   static 'app/favis/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <! --CSS
    ======================================================================================-->
    {% compress css %}
    <link rel="stylesheet" href="{% static 'app/bootstrap/css/bootstrap.css' %}">
     <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/micons/micons.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/lity.css' %}">
    {% endcompress %}

</head>

<body id="top">
{% include 'include/menu.html' %}
{% block content %}
{% endblock %}
<!--footer -->
{% include 'include/footer.html' %}
<div id="preloader">
    <div id="loader">

    </div>
</div>


<!--Javascript-->
{% compress js %}
<script src="{% static 'app/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'app/js/modernizr.js' %}"></script>
<script src="{% static 'app/js/pace.min.js' %}"></script>
<script src="{% static 'app/js/lazysizes.min.js' %}"></script>
<script src="{% static 'app/js/plugins.js' %}"></script>
<script src="{% static  'app/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'app/js/video-header.js' %}"></script>
<script src="{% static 'app/js/lity.js' %}"></script>
<script src="{% static 'app/js/main.js' %}"></script>
{% endcompress %}
<script>
    $(document).ready(function(){
        $('.header-video').each(function(i, elem){
            headerVideo = new HeaderVideo({
                element: elem,
                media: '.header-video__media',
                playTrigger:'.header-video__play-trigger',
                closeTrigger:'.header-video__close-trigger'
            });
        });
        $('.nav-button').on('click', function () {
           $('.animated-icon1').toggleClass('open');
        });
    });

</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
  var lazyloadImages;

  if ("IntersectionObserver" in window) {
    lazyloadImages = document.querySelectorAll(".lazy");
    var imageObserver = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          var image = entry.target;
          image.classList.remove("lazy");
          imageObserver.unobserve(image);
        }
      });
    });

    lazyloadImages.forEach(function(image) {
      imageObserver.observe(image);
    });
  } else {
    var lazyloadThrottleTimeout;
    lazyloadImages = document.querySelectorAll(".lazy");

    function lazyload () {
      if(lazyloadThrottleTimeout) {
        clearTimeout(lazyloadThrottleTimeout);
      }

      lazyloadThrottleTimeout = setTimeout(function() {
        var scrollTop = window.pageYOffset;
        lazyloadImages.forEach(function(img) {
            if(img.offsetTop < (window.innerHeight + scrollTop)) {
              img.src = img.dataset.src;
              img.classList.remove('lazy');
            }
        });
        if(lazyloadImages.length == 0) {
          document.removeEventListener("scroll", lazyload);
          window.removeEventListener("resize", lazyload);
          window.removeEventListener("orientationChange", lazyload);
        }
      }, 20);
    }

    document.addEventListener("scroll", lazyload);
    window.addEventListener("resize", lazyload);
    window.addEventListener("orientationChange", lazyload);
  }
  })
</script>


</body>
</html>
