<section id="footer">
    <div class="footer-content">
        <div class="row">
            <div class="col-twelve">
            <h1>Get a website that looks amazing and actually works.</h1>
            </div>
            <div class="copyright">
                <span>Powered by <a href="https://www.djangoproject.com/">Django</a> </span>
                <span>&#169; 2019 - {% now "Y" %} Ndemo richard</span>
                <span>source code at <a href="https://github.com/ndemo-richard/ndemo-master"><i class="fa fa-github-alt"></i>Github </a></span>
            </div>
            <div class="col-twelve">
                <ul class="intro-social">
                    <li>
                            <a href="https://facebook.com/ndemorichard" target="_blank">
                                    <i class="fa fa-facebook"></i>
                            </a>
                    </li>
                    <li>
                            <a href="https://instagram.com/ndemorichard" target="_blank">
                                    <i class="fa fa-instagram"></i>
                            </a>
                    </li>
                    <li>
                            <a href="https://github.com/ndemo-richard" target="_blank">
                                    <i class="fa fa-github"></i>
                            </a>
                    </li>
                    <li>
                            <a href="https://twitter.com/ndemorichard" target="_blank">
                                    <i class="fa fa-twitter"></i>
                            </a>
                    </li>
                    <li>
                            <a href="https://linkedin.com/ndemorichard" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                            </a>
                    </li>
                    <li>
                            <a href="https://youtube.com/ndemorichard" target="_blank">
                                    <i class="fa fa-youtube"></i>
                            </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="go-top">
        <a class="smoothscroll" title="back to top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
    </div>
</section>