<header>
    <div class="bg_pic"></div>
    <div class="logo_left">
        <a href="{% url 'home' %}"></a>
    </div>
    <div class="navbar-wrapper">
         <div class="container">
             <div class="navbar navbar-default navbar-static-top" role="navigation">
                 <div class="container-fluid">
                     <div class="navbar-header">
                         <button type="button" class="navbar-toggle nav-button" data-toggle="collapse" data-target=".navbar-collapse"
                         aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
                         <div class="animated-icon1"><span></span><span></span><span></span></div>
                         </button>
                     </div>
             <div class="navbar-collapse collapse" id="navbarSupportedContent20">
                 <ul class="nav navbar-nav navbar-right">
                     <li><a href="{% url 'home' %}" title="">Home</a></li>
                     <li><a href="{% url 'codehub' %}" title="">CodeHub</a></li>
                     <li><a href="{% url 'resume' %}" title="">Resume</a></li>
                     <li><a href="{% url 'home' %}" title="">About</a></li>
                     <li><a href="{% url 'home' %}" title="">Portfolio</a></li>
                     <li><a href="{% url 'blog' %}" target="_blank" title="Blog">Blog</a></li>
                     <li><a href="{% url 'home' %}" title="">Contact</a></li>
                 </ul>
             </div>
             </div></div></div>
         </div>
    </div>
</header>