

/**
 * ===================================================================
 * 02. basic/base setup styles
 *
 * -------------------------------------------------------------------
 */
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
    background:#100e17;
	font-weight: normal;
	line-height: 1;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: none;
}

body,
input,
button {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/**
 * Media
 * -------------------------------------------------------------------
 */
img,
video {
	max-width: 100%;
	height: auto;
}

/**
 * Typography resets
 * -------------------------------------------------------------------
 */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-font-variant-ligatures: common-ligatures;
	-moz-font-variant-ligatures: common-ligatures;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
}

em,
i {
	font-style: italic;
	line-height: inherit;
}

strong,
b {
	font-weight: bold;
	line-height: inherit;
}

small {
	font-size: 60%;
	line-height: inherit;
}

ol,
ul {
	list-style: none;
}

li {
	display: block;
}

/**
 * links
 * -------------------------------------------------------------------
 */
a {
	text-decoration: none;
	line-height: inherit;
}

a img {
	border: none;
}

/**
 * inputs
 * -------------------------------------------------------------------
 */
fieldset {
	margin: 0;
	padding: 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

/**
 * ===================================================================
 * 03. grid
 *
 * -------------------------------------------------------------------
 */
.row {
	width: 94%;
	max-width: 1140px;
	margin: 0 auto;
}

.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.row .row {
	width: auto;
	max-width: none;
	margin-left: -20px;
	margin-right: -20px;
}

[class*="col-"],
.bgrid {
	float: left;
}

[class*="col-"] + [class*="col-"].end {
	float: right;
}

[class*="col-"] {
	padding: 0 20px;
}

.col-one {
	width: 8.33333%;
}

.col-two,
.col-1-6 {
	width: 16.66667%;
}

.col-three,
.col-1-4 {
	width: 25%;
}

.col-four,
.col-1-3 {
	width: 33.33333%;
}

.col-five {
	width: 41.66667%;
}

.col-six,
.col-1-2 {
	width: 50%;
}

.col-seven {
	width: 58.33333%;
}

.col-eight,
.col-2-3 {
	width: 66.66667%;
}

.col-nine,
.col-3-4 {
	width: 75%;
}

.col-ten,
.col-5-6 {
	width: 83.33333%;
}

.col-eleven {
	width: 91.66667%;
}

.col-twelve,
.col-full {
	width: 100%;
}

/**
 * small screens
 * ---------------------------------------------------------------
 */
@media screen and (max-width:1024px) {
	.row .row {
		margin-left: -18px;
		margin-right: -18px;
	}

	[class*="col-"] {
		padding: 0 18px;
	}

}

/**
 * tablets
 * ---------------------------------------------------------------
 */
@media screen and (max-width:768px) {
	.row {
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
	}

	.row .row {
		padding-left: 0;
		padding-right: 0;
		margin-left: -15px;
		margin-right: -15px;
	}

	[class*="col-"] {
		padding: 0 15px;
	}

	.tab-1-4 {
		width: 25%;
	}

	.tab-1-3 {
		width: 33.33333%;
	}

	.tab-1-2 {
		width: 50%;
	}

	.tab-2-3 {
		width: 66.66667%;
	}

	.tab-3-4 {
		width: 75%;
	}

	.tab-full {
		width: 100%;
	}

}

/**
 * large mobile devices
 * ---------------------------------------------------------------
 */
@media screen and (max-width:600px) {
	.row {
		padding-left: 25px;
		padding-right: 25px;
	}

	.row .row {
		margin-left: -10px;
		margin-right: -10px;
	}

	[class*="col-"] {
		padding: 0 10px;
	}

	.mob-1-4 {
		width: 25%;
	}

	.mob-1-2 {
		width: 50%;
	}

	.mob-3-4 {
		width: 75%;
	}

	.mob-full {
		width: 100%;
	}

}

/**
 * small mobile devices
 * ---------------------------------------------------------------
 */
@media screen and (max-width:400px) {
	.row .row {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}

	[class*="col-"] {
		width: 100% !important;
		float: none !important;
		clear: both !important;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}

	[class*="col-"] + [class*="col-"].end {
		float: none;
	}

}

/**
 * ===================================================================
 * block grids
 *
 * -------------------------------------------------------------------
 */
[class*="block-"]:before,
[class*="block-"]:after {
	content: "";
	display: table;
}

[class*="block-"]:after {
	clear: both;
}

.block-1-6 .bgrid {
	width: 16.66667%;
}

.block-1-4 .bgrid {
	width: 25%;
}

.block-1-3 .bgrid {
	width: 33.33333%;
}

.block-1-2 .bgrid {
	width: 50%;
}

/**
 * Clearing for block grid columns. Allow columns with
 * different heights to align properly.
 */
.block-1-6 .bgrid:nth-child(6n+1),
.block-1-4 .bgrid:nth-child(4n+1),
.block-1-3 .bgrid:nth-child(3n+1),
.block-1-2 .bgrid:nth-child(2n+1) {
	clear: both;
}

/**
 * small screens
 * ---------------------------------------------------------------
 */
@media screen and (max-width:1024px) {
	.block-s-1-6 .bgrid {
		width: 16.66667%;
	}

	.block-s-1-4 .bgrid {
		width: 25%;
	}

	.block-s-1-3 .bgrid {
		width: 33.33333%;
	}

	.block-s-1-2 .bgrid {
		width: 50%;
	}

	.block-s-full .bgrid {
		width: 100%;
		clear: both;
	}

	[class*="block-s-"] .bgrid:nth-child(n) {
		clear: none;
	}

	.block-s-1-6 .bgrid:nth-child(6n+1),
	.block-s-1-4 .bgrid:nth-child(4n+1),
	.block-s-1-3 .bgrid:nth-child(3n+1),
	.block-s-1-2 .bgrid:nth-child(2n+1) {
		clear: both;
	}

}

/**
 * tablets
 * ---------------------------------------------------------------
 */
@media screen and (max-width:768px) {
	.block-tab-1-6 .bgrid {
		width: 16.66667%;
	}

	.block-tab-1-4 .bgrid {
		width: 25%;
	}

	.block-tab-1-3 .bgrid {
		width: 33.33333%;
	}

	.block-tab-1-2 .bgrid {
		width: 50%;
	}

	.block-tab-full .bgrid {
		width: 100%;
		clear: both;
	}

	[class*="block-tab-"] .bgrid:nth-child(n) {
		clear: none;
	}

	.block-tab-1-6 .bgrid:nth-child(6n+1),
	.block-tab-1-4 .bgrid:nth-child(4n+1),
	.block-tab-1-3 .bgrid:nth-child(3n+1),
	.block-tab-1-2 .bgrid:nth-child(2n+1) {
		clear: both;
	}

}

/**
 * large mobile devices
 * ---------------------------------------------------------------
 */
@media screen and (max-width:600px) {
	.block-mob-1-6 .bgrid {
		width: 16.66667%;
	}

	.block-mob-1-4 .bgrid {
		width: 25%;
	}

	.block-mob-1-3 .bgrid {
		width: 33.33333%;
	}

	.block-mob-1-2 .bgrid {
		width: 50%;
	}

	.block-mob-full .bgrid {
		width: 100%;
		clear: both;
	}

	[class*="block-mob-"] .bgrid:nth-child(n) {
		clear: none;
	}

	.block-mob-1-6 .bgrid:nth-child(6n+1),
	.block-mob-1-4 .bgrid:nth-child(4n+1),
	.block-mob-1-3 .bgrid:nth-child(3n+1),
	.block-mob-1-2 .bgrid:nth-child(2n+1) {
		clear: both;
	}

}

/**
 * stack on small mobile devices
 * ---------------------------------------------------------------
 */
@media screen and (max-width:400px) {
	.stack .bgrid {
		width: 100% !important;
		float: none !important;
		clear: both !important;
		margin-left: 0;
		margin-right: 0;
	}

}

/**
 * ===================================================================
 * 04. MISC
 *
 * -------------------------------------------------------------------
 */

/**
 * Clearing
 */
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

/**
 * Misc Helper Styles
 */
.hide {
	display: none;
}

.invisible {
	visibility: hidden;
}

.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.remove-bottom {
	margin-bottom: 0;
}

.half-bottom {
	margin-bottom: 1.5rem !important;
}

.add-bottom {
	margin-bottom: 3rem !important;
}

.no-border {
	border: none;
}

.full-width {
	width: 100%;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.align-center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*# sourceMappingURL=base.css.map */
/**
 * ===================================================================
 * 08. common styles (_layout.scss)
 *
 * -------------------------------------------------------------------
 */
.grey-section {
	background: #ebebeb;
}
.grey-section p.lead {
	color: #7d7d7d;
}
.section-intro {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 3.6rem;
	position: relative;
}
.section-intro h1 {
	font-family: "poppins-semibold", serif;
	font-size: 3.6rem;
	color: #313131;
	line-height: 1.25;
	margin-bottom: 1.2rem;
}
.section-intro h5 {
	color: #00adef;
	font-size: 1.6rem;
	line-height: 1.875;
	margin-bottom: 0.3rem;
	letter-spacing: .4rem;
}

/**
 * responsive:
 * common styles
 * -------------------------------------------------------------------
 */
@media only screen and (max-width:768px) {
	.section-intro {
		max-width: 650px;
	}
	.section-intro h1 {
		font-size: 3rem;
	}
}
@media only screen and (max-width:600px) {
	.section-intro h1 {
		font-size: 2.6rem;
	}
	.section-intro h5 {
		font-size: 1.5rem;
		letter-spacing: .3rem;
	}
}
@media only screen and (max-width:400px) {
	.section-intro h1 {
		font-size: 2.4rem;
	}
}

/**
 * ===================================================================
 *portfolio
 *
 * -------------------------------------------------------------------
 */
#portfolio {
	background: #100e17;
	padding-top: 12rem;
	padding-bottom: 12rem;
}
#portfolio .folio-item {
	padding: 0;
	position: relative;
	margin-bottom:4rem;
	overflow: hidden;
}
#portfolio .folio-item img {
    width:320px;
    height:320px;
	vertical-align: middle;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#portfolio .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	-moz-transition: all 0.5s ease-in-out;
	I-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#portfolio .folio-item-table {
	display: table;
	width: 100%;
	height: 100%;
}
#portfolio .folio-item-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	position: relative;
	left: -100%;
}

#portfolio .folio-title {
	color: #FFFFFF;
	font-size: 3.3rem;
	padding: 0 3rem;
	margin-bottom: 0;
}
#portfolio .folio-types {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "poppins-regular", sans-serif;
	font-size: 1.2rem;
	letter-spacing: .1rem;
	color: rgba(255, 255, 255, 0.6);
}
#portfolio .folio-item:hover .overlay {
	background: rgba(0, 0, 0, 0.8);
}
#portfolio .folio-item:hover .folio-item-cell {
	left: 0;
}
#portfolio .folio-item:hover img {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

/**
 * responsive:
 * portfolio
 * -------------------------------------------------------------------
 */
@media only screen and (max-width:1024px) {
	#portfolio .folio-title {
		font-size: 3.1rem;
	}
}
@media only screen and (max-width:768px) {
	#portfolio .folio-title {
		font-size: 2.5rem;
	}
}
@media only screen and (max-width:400px) {
	#portfolio .folio-title {
		font-size: 2.2rem;
	}
}

/**
 * Popup Modal - (_layout.scss)
 * ------------------------------------------------------------------
 */
.popup-modal {
	max-width: 550px;
	background: #FFFFFF;
	position: relative;
	margin: 0 auto;
}
.popup-modal .media {
	position: relative;
}
.popup-modal img {
	vertical-align: bottom;
}
.popup-modal .description-box {
	padding: 1.8rem 3.6rem 3rem;
}
.popup-modal .description-box h4 {
	font-family: "poppins-bold", sans-serif;
	font-size: 1.5rem;
	line-height: 2.4rem;
	margin-bottom: .6rem;
}
.popup-modal .description-box p {
	font-family: "poppins-regular", sans-serif;
	font-size: 1.4rem;
	line-height: 2.4rem;
	margin-bottom: 12px;
}
.popup-modal .categories {
	font-family: "poppins-bold", sans-serif;
	font-size: 1.1rem;
	line-height: 1.8rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	display: block;
	text-align: left;
	color: rgba(0, 0, 0, 0.5);
}
.popup-modal .link-box {
	width: 100%;
	overflow: hidden;
	background: #000000;
}
.popup-modal .link-box a {
	font-family: "poppins-bold", sans-serif;
	font-size: 1.2rem;
	line-height: 6rem;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
	display: block;
	text-align: center;
	float: left;
	width: 50%;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.popup-modal .link-box a:first-child {
	border-right: 1px solid rgba(200, 200, 200, 0.1);
}
.popup-modal .link-box a:hover {
	background: #cc005f;
	border: none;
}
@media only screen and (max-width:600px) {
	.popup-modal {
		width: auto;
		margin: 0 20px;
	}
}

/*-----------
-------portfolio details
------------------------
----*/
#details-intro {
        background:#100e17 url("/static/app/img/bg1.085032eef93a.jpg?52d2d06c3f32") no-repeat ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-attachment:fixed;
        width: 100%;
        height:40vh;
        position: relative;
}
.details-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111111;
	opacity: .85;
}
.details{
    position:relative;
    width:100%;
    margin-bottom:8rem;
    text-align:center;
}
.details h1{
    color: #cc005f;
	font-family: "poppins-bold", sans-serif;
	font-size: 2.5rem;
	line-height: 1.565;
	margin:auto;
	padding-top:3rem;
	padding-bottom:3rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.col-md-8{
    position:relative;
    padding-left:6rem;
    padding-right:6rem;
}
.col-md-8 p{
    color:white;
}

.details-img{
    width:80%;
    margin-left:4rem;
}
.col-md-4{
padding:0;
}
.col-md-4 p{
    color:white;
    margin-bottom:2rem;

}
.col-md-4 h5{
    color: #cc005f;
	font-family: "poppins-bold", sans-serif;
	font-size: 1.4rem;
	line-height: 1.565;
	margin:auto;
	margin-bottom:3rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.col-md-4 a{
    text-decoration:none;
    font-size:1.5rem;
    color:white;
}
/*---------------------------------------
*----mobile view
--------------------------------------*/

@media only screen and (max-width:450px){

#details-intro {
        height:30vh;
}
.details{
    position:relative;
    width:100%;
    margin-bottom:8rem;
    text-align:center;
}

.col-md-8{
    padding-left:2.5rem;
    padding-right:2.5rem;
}
.details-img{
    width:90%;
    height:300px;
    margin:auto;
    margin-bottom:2rem;
}
}


/**
 * transition effect for modal popup - (_layout.scss)
 * ------------------------------------------------------------------
 */

/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: .9;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* content animate in */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

/**
 * ===================================================================
 * call-to-action section
 *
 * -------------------------------------------------------------------
 */
#cta {
	padding-top: 10.2rem;
	padding-bottom: 9rem;
	text-align: center;
}
#cta p.lead {
	color: #6e6e6e;
}
.cta-content {
	max-width: 640px;
}
.cta-thumb {
	display: inline-block;
	margin-bottom: 1.2rem;
}
.cta-thumb img {
	height: 7.8rem;
	width: 7.8rem;
	border-radius: 50%;
}

/**
 * section ads
 * -------------------------------------------------------------------
 */
.section-ads h2 {
	position: relative;
	padding-bottom: 2.1rem;
}
.section-ads h2::after {
	content: "";
	display: block;
	height: 3px;
	width: 80px;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -40px;
}
.section-ads h2 a, .section-ads h2 a:visited {
	color: #313131;
}
.section-ads span {
	color: #3F0D39;
}

/**
 * responsive:
 * cta
 * -------------------------------------------------------------------
 */
@media only screen and (max-width:650px) {
	.cta-content {
		max-width: 650px;
	}
	.cta-content h2 {
		font-size: 2.4rem;
	}
}


/**
 * ===================================================================
 * services
 *
 * -------------------------------------------------------------------
 */
#services {
	background: #313131 url("/static/app/images/bg1.085032eef93a.jpg?52d2d06c3f32") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	padding-top: 12rem;
	padding-bottom: 12rem;
	color: white;
	position: relative;
}
#services .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #151515;
	opacity: .9;
}

#services .section-intro {
	margin-bottom: 1.8rem;
}

#services .section-intro h1 {
	color: white;
}
#services .section-intro h5 {
	color: #00adef;
}
#services .section-intro p {
	color: rgba(255, 255, 255, 0.7);
}
.services-content {
	max-width: 1200px;
}
.services-list {
	margin-top: 1.2rem;
	text-align: center;
}
.services-list .service {
	margin-bottom: 1.2rem;
	padding: 0 30px;
}
.services-list .icon {
	display: inline-block;
	margin-bottom: 2.1rem;
}
.services-list .icon i {
	font-size: 5.4rem;
	color: #00adef;
}
.services-list h3 {
	color: #FFFFFF;
}
.services-list .desc {
	color: rgba(255, 255, 255, 0.6);
}

/* pagination */
.owl-pagination {
	text-align: center;
	width: 100%;
	margin: .6rem 0 0;
}
.owl-theme .owl-controls .owl-page {
	display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 1.2rem;
	height: 1.2rem;
	margin: 1.2rem .8rem 0 .8rem;
	border-radius: 50%;
	display: inline-block;
	background: #FFFFFF;
}
.owl-theme .owl-controls .owl-page.active span {
	background: #00adef;
}

