body{
     background:#100e17;
}
 #intro {
     background:#100e17 url("/static/app/img/bg1.085032eef93a.jpg?52d2d06c3f32") no-repeat ;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     background-attachment:fixed;
     width: 100%;
     height: 40vh;
     position: relative;
}
 .intro-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #111111;
     opacity: .85;
}
 #content{
     background:#100e17;
     width:100%;
     margin-bottom:6rem;
     margin-top:4rem;
     text-align:center;
}
 #content h1{
     font-family: "poppins-bold", serif;
     color:#cc005f;
     margin:auto;
     text-transform: uppercase;
     letter-spacing: .3rem;
     text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
     margin-bottom:4rem;
}
 .card{
     position:relative;
     margin:auto;
     margin-bottom:4rem;
     width:320px;
     height:450px;
     overflow:hidden;
     background:linear-gradient(135deg,#07060a,#66617a);
     border-radius:10px;
     box-sizing:border-box;
     box-shadow:20px 30px 50px 1px rgba(0,0,0,.3);
}
 .card .card-img-top{
     width:100%;
     height:300px;
}
 .card .card-body{
     position:relative;
     width:100%;
     height:150px;
}
 .card-body .card-title{
     color:white;
}
 .card-body .card-text{
     color:white;
}
 .card-body .project_btn{
     position:absolute;
     width:fit-content;
     cursor:pointer;
     margin:auto;
     left:32%;
     bottom:2rem;
    ;
     font-size:1.2rem;
}
/*---------------- *project detail css ----------------*/
 #details-intro {
     background:#100e17 url("/static/app/img/bg1.085032eef93a.jpg?52d2d06c3f32") no-repeat ;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     background-attachment:fixed;
     width: 100%;
     height:40vh;
     position: relative;
}
 .details-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #111111;
     opacity: .85;
}
 .details{
     position:relative;
     width:100%;
     margin-bottom:8rem;
     text-align:center;
}
 .details h1{
     color: #cc005f;
     font-family: "poppins-bold", sans-serif;
     font-size: 2.5rem;
     line-height: 1.565;
     margin:auto;
     padding-top:3rem;
     padding-bottom:3rem;
     text-transform: uppercase;
     letter-spacing: .3rem;
     text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
 .col-md-8{
     position:relative;
     padding-left:6rem;
     padding-right:6rem;
}
 .col-md-8 p{
     color:white;
}
 .details-img{
     width:80%;
     margin-left:4rem;
}
 .col-md-4{
     padding:0;
}
 .col-md-4 p{
     color:white;
}
 .col-md-4 h5{
     color: #cc005f;
     font-family: "poppins-bold", sans-serif;
     font-size: 1.4rem;
     line-height: 1.565;
     margin:auto;
     text-transform: uppercase;
     letter-spacing: .3rem;
     text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
 .col-md-4 a{
     text-decoration:none;
     font-size:1.5rem;
     color:white;
}
/*--------------------------------------- *----mobile view --------------------------------------*/
 @media only screen and (max-width:450px){
     #intro {
         height: 30vh;
    }
     .card{
         width:80%;
    }
     .card .card-img-top{
         width:100%;
         height:250px;
    }
     .card .card-body{
         position:relative;
         width:100%;
         height:150px;
    }
     .card-body .card-title{
         color:white;
    }
     .card-body .card-text{
         color:white;
    }
     .card-body .project_btn{
         left:30%;
         bottom:1rem;
         font-size:1.2rem;
    }
    /*---------------- *project detail css ----------------*/
     #details-intro {
         height:30vh;
    }
     .details{
         position:relative;
         width:100%;
         margin-bottom:8rem;
         text-align:center;
    }
     .col-md-8{
         padding-left:2.5rem;
         padding-right:2.5rem;
    }
     .details-img{
         width:90%;
         height:300px;
         margin:auto;
         margin-bottom:2rem;
    }
}

