{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% block title %}{{ block.super }} | check me out) {% endblock %} {% block content %}

{% compress css %}
<link rel="stylesheet" href="{% static 'app/css/about.css' %}">
{% endcompress %}

<section id="intro">
     <div class="intro-overlay"></div>
    <div class="intro-content">
        <div class="row">
            <div class="col-twelve">
                <p class="intro-position">
                    <span>~My simplified life ~</span>
                </p>
                <h1>I am a
		 <span class="txt-type" data-wait="1000" data-words='["Developer", "Designer", "Creator"]'></span>
		</h1>
        </div>
        </div>
    </div>
</section>
<section id="about">
	<div class="about-me">
		<article>
			<h1>Ndemo Richard is a web developer with experience in python with django framework,
			currently searching for a job opportunity.</h1>
		<h5>A little more about Ndemo Richard, Yea thats him again &#128512;</h5>
		<div class="intro-article">
			<img src="{% static 'app/img/grad.png' %}" alt="graduation pic">
			<p>
			Ndemo Richard is passionate about making sure that systems,Technologies are human-friendly,emotive,clear,usable and aesthetically pleasing.<br> He studied Bachelors of Science in Information Technology.  &#128521; (actually tried to school).
			</p>
		</div>
		<div class="lead-article">
			<img src="{% static 'app/img/meditation.png' %}" alt="meditation pic">
			<P>
			when he is not changing fonts in css, He enjoys never being satisfied with his own work, gardening, movies(DCEU fan), and occasionally tweaking his laptop features.<br> &#128073<a href="{% url 'resume' %}">check out his resume</a> to take a closer look at his proffesional history.
			</p></div>

			<h5>Hungry for More?</h5>
			<p>
			Here's other articles that talks about Ndemo Richard.
			</p>
		</article>
	</div>
</section>
<section id="photogrid">

</section>
<section id="socialmedia-feed">
	<div class="socialmedia-feed">
		<h1>Instagram Feed</h1>
	<ul id="instafeed"></ul>
	</div>
</section>
{% endblock %}
