{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% block title %}{{ block.super }} | portfolio {% endblock %}
{% block content %}

{% compress css %}
<link rel="stylesheet" href="{% static 'app/css/portfolio.css' %}">
{% endcompress %}
<!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">
   			<h5>Portfolio</h5>
   			<h1>Some of My Works.</h1>
   		</div>
   	</div> <!-- /section-intro-->
   	<div class="row portfolio-content">
   		<div class="col-twelve">
        {% for port in portfolios %}
   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

	         	<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{{ port.pic.url }}" alt="{{ port.title }}">
	                  <a href="#{{ port.id }}" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
                               <h3 class="folio-title">{{ port.title }}</h3>
                                 <span class="folio-types">
                                  {{ port.sub }}
                               </span>
                            </div>
	                     </div>
	                  </a>
	               </div>
                </div> <!-- /folio-item -->
                {% endfor %}
	            <!-- modal popups - begin
	            ============================================================= -->
                {% for port in portfolios %}
	            <div id="{{ port.id }}" class="popup-modal slider mfp-hide">
					   <div class="description-box">
					      <h4>{{ port.title }}</h4>
                          <h6>{{ port.sub }}</h6>
                           {{ port.body|safe }}
					      <div class="categories">{{ port.pub|date:'Y-M' }}</div>
						   <a href="{% url 'portfolio_detail' port.id %}"class="button">Check details</a>
					   </div>

			         <div class="link-box">
			            <a href="{% url 'contact' %}">Contact me</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>

				   </div> <!-- /modal-01 -->
                {% endfor %}
				   <!-- modal popups - end
	            ============================================================= -->
	         </div> <!-- /portfolio-wrapper -->
   		</div>  <!-- /twelve -->
   	</div> <!-- /portfolio-content -->
	</section> <!-- /portfolio -->

{% include 'include/service.html' %}

{% endblock %}